body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
#header {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}
#header h1 {
    margin: 0;
    padding: 1.5rem;
}

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-column {
    
}

.flag-image {
    height: 70px;
    width: auto;
}

#display{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#card {
    background-color: rgb(226, 226, 226);
    border-radius: 8px;
    height: auto;
    width: 300px;
    transition: 0.4s;
}

#team-image {
    padding-top: 10px;
    height: 200px;
    width: auto;
}