body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(82, 187, 82);
}
#header {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}
#header h1 {
    margin: 0;
    padding: 1.5rem;
}

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-column {
    margin: 10px;
}

#flag-container {
    /* width: 33%; */
}

.flag-image {
    height: 70px;
    width: 110px;
    margin: 10px;
    cursor: pointer;
    transition: 0.4s;
}
.flag-image:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.74);
}

#display{
    text-align: center;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
}
#card {
    top: 0;
    position: sticky;
    /* background-color: #8A1538;
    color: white; */
    border-radius: 8px;
    border: solid 2px black;
    margin-top: 5rem;
    height: auto;
    width: 300px;
    transition: 0.4s;
}

#team-image {
    padding-top: 10px;
    height: 200px;
    width: auto;
}